<section class="container">
	<div class="row">
		<h1>Nueva Categoria</h1>
		<div class="panel panel-primary">
		 	<div class="panel-heading">
		    	<h3 class="panel-title">Añade una categoria para tus imagenes</h3>
	  		</div>
		  	<div class="panel-body">
		    	<form action="" name="categoria_form" novalidate>
					<div class="col-md-6 form-group" ng-class="{'has-error': categoria_form.nombre.$invalid && categoria_form.nombre.$dirty}">
                        <label>Nombre Categoria <span class="text-danger">* </span>:</label>
                        <input class="form-control" placeholder="Nombre de la Categoria" name="nombre" ng-model="categoria.nombre_categoria" required>
                        <p ng-show="categoria_form.nombre.$invalid && categoria_form.nombre.$dirty" class="help-block">El nombre es requerido</p>
                    </div>
                    <div class="form-group col-md-6 col-xs-12" ng-class="{'has-error': categoria_form.descripcion.$invalid && categoria_form.descripcion.$dirty}">
                    	<label for="">Descripcion Categoria <span class="text-danger">* </span>:</label></label>
                    	<textarea class="form-control" rows="3" placeholder="Escriba una pequeña descripcion de esta categoria" name="descripcion" ng-model="categoria.descripcion_categoria"  required></textarea>
                    	<p ng-show="categoria_form.descripcion.$invalid && categoria_form.descripcion.$dirty" class="help-block">La descripcion es requerida</p>
                    </div>
		    	</form>
		  	</div>
		  	<div class="panel-footer">
		  		<button ng-if="$state.includes('**.categoria_create.**')" type="submit" class="btn btn-success" ng-disabled='categoria_form.$invalid' ng-click="categoria.agregar()">Guardar</button>
                <button ng-if="$state.includes('**.categoria_edit.**')" type="submit" class="btn btn-warning" ng-disabled='categoria_form.$invalid' ng-click="categoria.actualizar()">Actualizar</button>
		  	</div>
		</div>
	</div>
</section>