<section class="container">
	<section class="row">
		<h1>Catalogo de Imagenes</h1>
        <div class="table-responsive col-xs-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="center">Fotografia</th>
                        <th class="center">Nombre</th>
                        <th class="center">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="galeria in galeria.galerias">
                        <th class="center">
                            <a href="">
                                <img ng-src="{{galeria.url_imagen_miniatura}}" alt="" >
                            </a>
                        </th>
                        <th class="center">{{galeria.nombre_imagen}}</th>
                        <th clasS="center"><a href="" class="btn btn-danger"><i class="fa fa-pencil-square-o"></i></a></th>
                    </tr>
                </tbody>
            </table>
        </div>
	</section>
    <br>   
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-warning" ui-sref="galeria_create">Nueva Imagen</button>
        </div>
    </div>
    <br>
</section>