    <section id="feature" class="transparent-bg">
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Nuestros Servicios :) </h2>
                <p class="lead">Garantizamos el desempeño de nuestros servicos<br>no dudes en que nosotros seamos parte de tu SUEÑO</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-gift"></i>
                            <h2>Quinceañeras</h2>
                            <h3>La razon de ser de nuestra empresa, contamos con mas de 7 años en el mercado y hemos acompañado a mas de 1000 quinceañeras en sus coreografias.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-bars"></i>
                            <h2>Performance</h2>
                            <h3>Nuestros coreógrafos estan capacitados para crear el mejor espectaculo para cualquier tipo de evento, resaltando siempre el tema principal como: Pasarelas, Bodas, Bares, Antros, etc. </h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-users"></i>
                            <h2>Tablas Ritmicas</h2>
                            <h3>Ensayamos grupos grandes adaptando cualquier tipo de idea y completándola con nuestra innovación y experiencia</h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row--> 

            <div class="row">
                <div class="features">     

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-bullhorn"></i>
                            <h2>Coreografo</h2>
                            <h3>Si ya tienes a tus chambelanes, les ayudamos a crear un espectaculo y capasitarlos para que tu coreografía sea inolvidable</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-calendar"></i>
                            <h2>coordinación de eventos</h2>
                            <h3>Trabajamos con el mejor equipo de proveedores para que tu unica responsabilidad sea disfrutar al maximo u fiesta</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <!--div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <h2>Labore et dolore</h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                        </div>
                    </div><!-/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row--> 


            <div class="get-started center wow fadeInDown">
                <h2>Conoce nuestro equipo de trabajo</h2>
                <p class="lead">Es bueno que conozcas en manos de quien van a quedar los pasos que dejaran huella importante en tu vida.  <br>! Nos has encontrado ¡Es momento de continuar con el baile...</p>
                <div class="request">
                    <h4><a href="#">Contratanos click aquí.</a></h4>
                </div>
            </div><!--/.get-started-->

            <div class="clients-area center wow fadeInDown">
                <h2>Lo que los LIDERES Dkiings dicen.</h2>
                <p class="lead">Siempre es grato escuchar a los lideres para que nuestros proyectos salgan avante<br> ya que son ellos las personas fundadoras y responsables DKIINGS.</p>
            </div>

            <div class="row">
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/client1.png" class="img-circle" alt="">
                        <h3>Pensamiento</h3>
                        <h4><span>-Carlos Orozco /</span>  Director General.</h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/client2.png" class="img-circle" alt="">
                        <h3>Lo mas valioso e importante de nuestro trabajo es poder ayudar a construir y hacer posible lo que en mucho tiempo solo fueron sueños, pensamientos e ilusiones de nuestros cientes, hacer lucir a la quinceañera siempre sera nuestra razón de ser.</h3>
                        <h4><span>-Raul Hernandez /</span>  Director Comercial.</h4>
                    </div>
                </div>
                <!--div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="images/client3.png" class="img-circle" alt="">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</h3>
                        <h4><span>-John Doe /</span>  Director of corlate.com</h4>
                    </div>
                </div-->
           </div>

        </div><!--/.container-->
    </section><!--/#feature-->


    <!--section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">We are hiring</a></li>
                            <li><a href="#">Meet the team</a></li>
                            <li><a href="#">Copyright</a></li>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>    
                </div><!-/.col-md-3->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Support</h3>
                        <ul>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Refund policy</a></li>
                            <li><a href="#">Ticket system</a></li>
                            <li><a href="#">Billing system</a></li>
                        </ul>
                    </div>    
                </div><!-/.col-md-3->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Developers</h3>
                        <ul>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">SEO Marketing</a></li>
                            <li><a href="#">Theme</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Email Marketing</a></li>
                            <li><a href="#">Plugin Development</a></li>
                            <li><a href="#">Article Writing</a></li>
                        </ul>
                    </div>    
                </div><!-/.col-md-3->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Our Partners</h3>
                        <ul>
                            <li><a href="#">Adipisicing Elit</a></li>
                            <li><a href="#">Eiusmod</a></li>
                            <li><a href="#">Tempor</a></li>
                            <li><a href="#">Veniam</a></li>
                            <li><a href="#">Exercitation</a></li>
                            <li><a href="#">Ullamco</a></li>
                            <li><a href="#">Laboris</a></li>
                        </ul>
                    </div>    
                </div><!-/.col-md-3->
            </div>
        </div>
    </section><!-/#bottom-->